<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <!--<logger name="org.springframework.controller" level="INFO"/>-->
    <!--<logger name="org.springboot.sample" level="TRACE" />-->
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springboot.sample" level="ERROR" />

    <!-- 开发、测试环境 -->
    <springProfile name="test,dev">
        <!--<logger name="org.springframework.controller" level="INFO"/>-->
        <!--<logger name="org.springboot.sample" level="INFO" />-->
        <!--<logger name="com.wwx.hall" level="DEBUG" />-->
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR" />
        <logger name="com.cy.student" level="ERROR" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR" />
        <logger name="com.cy.student" level="ERROR" />
    </springProfile>

</configuration>
