<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.student.modules.mapper.Student_informationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cy.student.modules.entity.Student_information">
        <id column="id" property="id" />
        <result column="student_name" property="student_name" />
        <result column="student_phone" property="student_phone" />
        <result column="student_ties" property="student_ties" />
        <result column="student_major" property="student_major" />
        <result column="student_class" property="student_class" />
        <result column="student_gender" property="student_gender" />
        <result column="student_age" property="student_age" />
        <result column="del_flag" property="del_flag" />
    </resultMap>

</mapper>
